<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KphBilling.Properties.Settings.PatientManagementSystem_MSCRMConnectionString"
            connectionString="Data Source=352-WLI-LIVE;Initial Catalog=PatientManagementSystem_MSCRM;User ID=crmlivesqluser;Password=352medical#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>